<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/dashboard">
<head>
    <title th:text="#{authorization.update-user}">Update User</title>
</head>
<body>
<main layout:fragment="main-content" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2 layout:fragment="main-content-title" th:text="#{authorization.update-user}">Create User</h2>
    </div>
    <form th:action="${'/admin/manager/' + manager.id}" method="post">
        <div class="form-group row">
            <label for="manager-name" class="col-sm-2 col-form-label"
                   th:text="#{authorization.manager.name}">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="manager-name" name="name" required="required"
                       th:placeholder="#{authorization.manager.name.placeholder}" th:value="${manager.name}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="manager-phone" class="col-sm-2 col-form-label"
                   th:text="#{authorization.manager.phone}">Phone</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="manager-phone" name="phone"
                       th:placeholder="#{authorization.manager.phone.placeholder}"
                       th:value="${manager.phone}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="manager-email" class="col-sm-2 col-form-label"
                   th:text="#{authorization.manager.email}">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="manager-email" name="email"
                       th:placeholder="#{authorization.manager.email.placeholder}"
                       th:value="${manager.email}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="manager-username" class="col-sm-2 col-form-label" th:text="#{authorization.manager.username}">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="manager-username" name="username" required="required"
                       th:placeholder="#{authorization.manager.username.placeholder}" th:value="${manager.username}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="manager-password" class="col-sm-2 col-form-label" th:text="#{authorization.manager.password}">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="manager-password" name="password"
                       th:placeholder="#{authorization.manager.password.placeholder}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="manager-role" class="col-sm-2 col-form-label"
                   th:text="#{authorization.manager.role}">Role</label>
            <div class="col-sm-10">
                <select name="role" id="manager-role" th:disabled="${#authorization.expression('hasRole(''ROLE_ADMIN'')') eq false}">
                    <option th:each="roleEnum : ${roles}" th:text="${roleEnum.title}" th:value="${roleEnum}"
                            th:selected="${manager.role eq roleEnum}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="inlineRadio1" value="true" name="active"
                       th:checked="${manager.active}" checked="checked"/>
                <label class="form-check-label" for="inlineRadio1" th:text="#{authorization.manager.active.enable}">Enable</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="inlineRadio2" value="false" name="active"
                       th:checked="${!manager.active}"/>
                <label class="form-check-label" for="inlineRadio2" th:text="#{authorization.manager.active.disable}">Disable</label>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-secondary btn-lg" onclick="javascript:window.history.back()"
                    th:text="#{cancel}">Cancel
            </button>
            <button type="submit" class="btn btn-primary btn-lg" th:text="#{submit}">Submit</button>
        </div>
    </form>
</main>
</body>
</html>